<h1>ようこそ</h1>
<%# ログアウト %>
<% if user_signed_in? %>
  <p>ログイン中: <%= current_user.email %></p>
  <%= button_to 'ログアウト', destroy_user_session_path, method: :delete,
                class: "px-4 py-2 bg-rose-600 text-white rounded hover:bg-rose-700" %>
<% end %>